<div id=<%= "#{dom_id order_item}_form" %>>
    <%= form_with model: [:checks, order_item], id:"order-item-form", class: " " do |f| %>
        <%= f.hidden_field :quantity, value: order_item.quantity + 1  %>
        <%= f.button class: "center-content w-10 h-10 bg-first-300 rounded-full border" do %>
            <div class="w-6 h-6">
                <%= render 'icons/plus' %>
            </div>
        <% end %>
    <% end %>

    <div class="text-center"><%= order_item.quantity %></div>

    <% if order_item.quantity > 1 %>
        <%= form_with model: [:checks, order_item], id:"order-item-form", class: "flex flex-col" do |f| %>
            <%= f.hidden_field  :quantity, value: order_item.quantity - 1 %>
            <%= f.button class: "center-content w-10 h-10 bg-first-300 rounded-full border" do %>
                <div class="w-6 h-6">
                    <%= render 'icons/minus' %>
                </div>
            <% end %>
        <% end %>
    <% else %>
        <%= button_to [:checks, order_item], method: :delete, class: "center-content w-10 h-10 bg-error-500 rounded-full border", data: { controller:  "confirmation", action: "click->confirmation#confirm" } do %>
            <div class="w-6 h-6">
                <%= render 'icons/trash' %>
            </div>
        <% end %>
    <% end %>
</div>