<div id=<%= dom_id order_item %>>
    <div class="m-7 border-b-dark-300 border-b flex py-8">
        <%= link_to product_path(order_item.product), class: "flex-0" do %>
            <div class=" h-32 w-32 bg-fourth-200 rounded-lg">
                image_here
            </div>
        <% end %>

        <div class="flex-1">
            <%= link_to product_path(order_item.product) do %>
                <div class="text-center p-2">
                    <%= order_item.product.name %>
                </div>
            <% end %>
            <div>
                <%= order_item.product.price %> $
            </div>
            <div>
                <%= order_item.product.average_star %> - <%= order_item.product.reviews.length %>
            </div>
        </div>

        <div class="flex-0">
            <%= render partial:'checks/order_items/form', locals: { order_item: order_item} %>
        </div>
        
    </div>
</div>