<div id=<%= dom_id category %> class="m-7 shadow-xl border w-5/12 relative">
    <%= link_to products_path(category: category.id), class: "flex relative" do %>
        <div class="shadow-fifth-900 h-52 w-52 bg-fourth-200">
            category_image_here
        </div>
        <div class="text-center p-2">
            <%= category.name %>
        </div>
    <% end %>

    <% if admin_signed_in? %>
        <div class="flex w-1/2 ml-auto h-auto absolute right-0 bottom-0 ">
            <div class="flex-1 w-0 mx-3">
                <%= link_to edit_category_path(category), class: "btn-primary w-full" do %>
                    Edit
                <% end %>
            </div>

            <div class="flex-1 w-0 mx-3">
                <%= button_to category_path(category), class: "btn-warning w-full", method: :delete, data: { controller:  "confirmation", action: "click->confirmation#confirm" } do %>
                    Delete
                <% end %>
            </div>
        </div>
    <% end %>
</div>