
<turbo-frame id="primary" data-turbo-action="advance" >
    <div
        id="products"
        class="flex flex-wrap justify-center"
        data-controller="pagination"
        data-pagination-url-value="<%= products_url %> "
        data-pagination-page-value="<%= 2 %>"
        data-pagination-request-value="false"
        data-pagination-search-term-value="<%= @search_term %>"
        <% if @category %>
            data-pagination-category-value="<%= @category.id %>"
        <% end %>
    >   
        <% if seller_signed_in? || admin_signed_in? %>
            <div class="w-52 m-7 center-content rounded-lg flex-col">
                <a 
                    href=<%= new_product_path %> 
                    data-action="click->modal#open" 
                    class="btn-primary w-52 m-7 center-content rounded-lg flex-col" 
                    data-turbo-frame="modal"
                >
                    Add
                </a>

            </div>
          
        <% end %>
        <% if @products.empty? %>
            <div class="flex">
                <div id="no-product" class="text-center w-52 m-7 p-6">
                    There is no result to show
                    <% if @category %>
                        in <%= @category.name %>
                    <% end %>
                    .
                </div>

            </div>

        <% else %>
            <%= render 'products/infinite_scroll' %>
        <% end %>
    </div>

</turbo-frame>