
<turbo-frame id="primary" data-turbo-action="advance" >
    <div
        id="products"
        class="flex flex-wrap justify-center"
        data-controller="pagination"
        data-pagination-url-value="<%= products_url %> "
        data-pagination-page-value="<%= 2 %>"
        data-pagination-request-value="false"
        data-pagination-search-term-value="<%= @search_term %>"
        <% if @category %>
            data-pagination-category-value="<%= @category.id %>"
        <% end %>
    >   
        <% if seller_signed_in? || admin_signed_in? %>
            <div id="new_product" class="w-52 m-7 center-content rounded-lg flex-col" >
                <%= 
                    button_to "New",  
                        new_product_path, 
                        class: "btn-primary w-52 m-7 center-content rounded-lg flex-col", 
                        data: {
                            action: "click->modal#open",
                            "turbo-frame": "modal",
                        }
                %>
            </div>
          
        <% end %>
        <% if @products.empty? %>
            <div class="flex" id="no-product">
                <div class="text-center w-52 m-7 p-6">
                    There is no result to show
                    <% if @category %>
                        in <%= @category.name %>
                    <% end %>
                    .
                </div>

            </div>

        <% else %>
            <%= render 'products/infinite_scroll' %>
        <% end %>
    </div>

</turbo-frame>