<div class="m-7 shadow-xl border ">
    <%= link_to product_path(product) do %>
        <div class="shadow-fifth-900 h-52 w-52 bg-fourth-200">
            image_here
        </div>
        <div class="text-center p-2">
            <%= product.name %>
        </div>
    <% end %>
    <div>
        $ <%= product.price %>
    </div>
    <div>
        <%= product.average_star %> - <%= product.reviews.length %>
    </div>
    
</div>


