<div id=<%= dom_id product %> class="m-7 shadow-xl border relative" >
    <%= link_to product_path(product) do %>
        <div class="shadow-fifth-900 h-52 w-52 bg-fourth-200">
            image_here
        </div>
        <div class="text-center p-2">
            <%= product.name %>
        </div>
    <% end %>
    <div class="m-4 ">
        <div>
            $ <%= product.price %>
        </div>
        <div>
            <%= product.average_star %> - <%= product.reviews.length %>
        </div>


    </div>

    <% if seller_signed_in? || admin_signed_in? %>

        <div class="flex">
            <div class="flex-1 w-0 mx-3">
                <%= link_to edit_product_path( product ), class: "btn-primary w-full" do %>
                    Edit
                <% end %>
            </div>

            <div class="flex-1 w-0 mx-3">
                <%= button_to product_path( product ), method: :delete, class: "btn-warning w-full", data: { controller:  "confirmation", action: "click->confirmation#confirm" } do %>
                    Delete
                <% end %>
            </div>
        </div>

    <% end %>
</div>