<% if @origin == "search-form"  %>
    <%= turbo_stream.replace "products" do %>
        <% if @products.empty? %>
            <div class="text-center w-full" id="products">
                There is no result for "<%= params[:search_term] %>"
                <% if @category %>
                    in <%= @category.name %>
                <% end %>
                .
            </div>
        <% else %>
            <%= render 'products/list' %>
        <% end %>
    <% end %>
<% else %>
    <%= turbo_stream.append "products" do %>
        <%= render 'products/infinite_scroll' %>
    <% end %>
<% end %>
