

<div 
    class="items-center flex justify-center items-stretch m-3"
    data-controller="search-form" 
    data-search-form-url-value="<%= products_url %>"
    data-search-form-origin-value="search-form"
>
    <%= render "products/search_form" %>
    <%= render "products/category_list" %>
</div>

<% if @products.empty? %>
    <div class="text-center w-full" id="products">
        There is no result to show
        <% if @category %>
            in <%= @category.name %>
        <% end %>
        .
    </div>
<% else %>
    <%= render 'products/list' %>
<% end %>

