<%= turbo_stream.replace "products" do %>
    <% if @products.empty? %>
        <div class="text-center w-full" id="products">
            No result for "<%= params[:search_term] %>"
        </div>
    <% else %>
        <div
            id="products"
            class="flex flex-wrap justify-center"
            data-controller="pagination"
            data-pagination-url-value="<%= products_url %> "
            data-pagination-page-value="<%= 2 %>"
            data-pagination-search-term-value="<%= @search_term %>"
            data-pagination-request-value="false"
        >
            <%= render 'products/infinite_scroll' %>
        </div>
    <% end %>
<% end %>