<div class="m-8">
    <div class="shadow-xl border flex">
        <div class="shadow-fifth-900 h-96  bg-fourth-200 flex-1">
            image_here
        </div>
        <div class="flex-1 m-6">
            <div class="text-center p-2">
                <%= @product.name %>
            </div>
            <div>
                $ <%= @product.price %>
            </div>
            <div>
                <%= @product.average_star %>
            </div>
    
            <div>
                <%= @product.shipping_locations.pluck(:name).join(", ") %>
            </div>

            <% if seller_signed_in? || admin_signed_in? %>

                <div class="flex-1 flex transform ">
                    <div class="flex-1 ml-auto mx-3">
                        <%= link_to edit_product_path(@product), class: "bg-first-200 p-3 rounded-lg block" do %>
                            Edit
                        <% end %>
                    </div>

                    <div class="flex-1 mx-3">
                        <%= button_to product_path( @product ), method: :delete, class: "bg-warning-400 p-3 rounded-lg block" do %>
                            Remove
                        <% end %>
                    </div>
                </div>
                
            <% else %>
                <%= render partial:'products/form_pieces', locals: { order_item: @order_item} %>
            <% end %>

                        
        </div>
    
    </div>
    
    <%= render 'products/tabs' %>
</div>


