<nav class="h-16 px-16 flex space-x-7 items-center z-9000 justify-center fixed top-0 right-0 left-0 bg-white shadow-dark-100 shadow-lg"  >
    <a href=<%= root_path %> class=" text-center text-shadow-md shadow-none" data-turbo-action="advance" data-turbo-frame="primary" >
        <img src=<%= asset_path "fast-one-logo.svg" %> class="w-16 h-16" alt="Fast-one Logo">
    </a>
    <a href=<%= products_path %> class="flex-1 text-center text-shadow-md shadow-none" data-turbo-action="advance" data-turbo-frame="primary">
        Products
    </a>

    <div 
        class="items-center flex justify-center items-stretch m-3 w-full "
        data-controller="search-form" 
        data-search-form-url-value="<%= products_url %>"
    >
        
        <div class="w-full relative">
            <%= render "products/search_form" %>
            <div class="hidden absolute left-4 top-1/2 transform -translate-y-1/2 center-content" data-search-form-target="loading">
                <%= render 'layouts/loading' %>
            </div>
        </div>
        <%= render "products/category_list" %>
    </div>
    
    <% if signed_in_user? %>
        
        <div data-controller="dropdown" data-action="click->dropdown#toggle click@window->dropdown#hide" role="button" data-dropdown-target="button" tabindex="0" class="relative block select-none">
            <span class="appearance-none flex items-center inline-block text-gray-700">
                <%= current_user.email %>
            </span>
            <div data-dropdown-target="menu" class="absolute right-0 mt-2 hidden z-10 w-full">
                <div class="bg-white shadow rounded border overflow-hidden">
                    <% if current_consumer %>
                        <%= link_to 'Profile', edit_consumer_registration_path, data: {action: "click->dropdown#toggle"}, class: 'no-underline block px-8 py-3 text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap w-full' %>
                    <% elsif current_seller %>
                        <%= link_to 'Profile', edit_seller_registration_path, data: {action: "click->dropdown#toggle"}, class: 'no-underline block px-8 py-3 text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap w-full' %>
                    <% elsif current_admin %>
                        <%= link_to 'Profile', edit_admin_registration_path, data: {action: "click->dropdown#toggle"}, class: 'no-underline block px-8 py-3 text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap w-full' %>
                    <% end %>
                    <%= button_to "Sign Out", destroy_session_path( current_seller || current_admin || current_consumer ), method: :delete, class: "no-underline block px-8 py-3 text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap w-full cursor-pointer text-left" %>
                </div>
            </div>
        </div>

    <% else %>
        <%= link_to "Sign In", new_consumer_session_path, class: "btn flex-1 whitespace-nowrap" %>
    <% end %>

    <%= render "cart/cart" %>

</nav>