<!DOCTYPE html>
<html>
  <head>
    <title>Street</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application',  media: 'all', 'data-turbo-track': 'reload' %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application', 'data-turbo-track': 'reload'  %>
  </head>

  <body class="dark mx-16">
    <div id="alert">    </div>
    <div id="notice" class="fixed inset-x-0 bottom-0 flex flex-col items-end justify-right px-4 py-6 sm:p-6 justify-end z-30 pointer-events-none"> 
      <% flash.each do |type, msg| %>
        <%= render partial: "layouts/alert", locals: { information: msg } %>
      <% end %>
    </div>
    <%= render 'layouts/navbar' %>
    <%= yield %>
    <button data-controller="back-top" data-action="click->back-top#scrollTop" data-back-top-target="button" class="fixed bottom-16 right-16 rounded-lg focus:outline-none" > 
      <div class="icon-chevron-double-up icon-lg outline-none animate-pulse">
      </div>

    </button>
  </body>
</html>
