<!DOCTYPE html>
<html class="sm:text-sm md:text-md scroll-smooth">
  <head>
    <title>Street</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://js.stripe.com/v3"></script>
    <%= stylesheet_link_tag 'application',  media: 'all', 'data-turbo-track': 'reload' %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application', 'data-turbo-track': 'reload'  %>
  </head>

  <body class="dark sm:mx-4 md:mx-16">
    <div id="alert">    </div>
    <div id="notice" class="fixed inset-x-0 bottom-0 flex flex-col items-end justify-right px-4 py-6 sm:p-6 justify-end z-30 pointer-events-none"> 
      <% flash.each do |type, msg| %>
        <%= render partial: "layouts/alert", locals: { information: msg } %>
      <% end %>
    </div>
    
    <div 
      data-controller="modal" 
      data-modal-prevent-default-action-closing="false"
      data-modal-prevent-default-action-opening="false"
      class="mt-16 sm:mb-16 md:mb-0"
    >
      <div 
        data-modal-target="container" 
        data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" 
        class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center z-9999"
      >
        <div class="max-h-screen w-full max-w-lg relative">
          <div class="p-8 bg-white rounded shadow">
            <turbo-frame id="modal" >
              <div class="hidden top-0 left-0"></div>
            </turbo-frame>
          </div>
        </div>
      </div>
      <%= render 'layouts/navbar' %>
      <%= yield %>
      <button 
        data-controller="back-top" 
        data-action="click->back-top#scrollTop" 
        data-back-top-target="button" 
        class="fixed hidden bottom-40 right-16 rounded-lg focus:outline-none bg-white" 
      > 
        <div class="outline-none animate-pulse h-6 w-6">
          <%= render 'icons/chevron_double' %>
        </div>

      </button>
    </div>
  </body>
</html>
